@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$text-font-header: 'Roboto',
sans-serif;

$text-font-body: 'Noto Sans JP',
sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;


$font-size-title: 2.5em;
$font-size-header: 2em;
$font-size-subheader: 1.3em;
$font-size-body: 1em;
$font-size-quote: 0.5em;


$font-size-mobileHeader: 1.5em;
$font-size-mobileBody: 1em;